/* ---------------- NOISE ANMATION ---------------- */

.noise:after {
    content: "";
    pointer-events: none;
    will-change: transform;
    animation: noiseAnimation 1s steps(4) infinite;
    background-image: url("../content/img/noise.png");
    width: 200%;
    height: 200%;
    display: block;
    position: absolute;
    top: -50%;
    left: -50%;
}

.hover {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 10000;
    overflow: hidden;
    width: 100%;
    height: 100%;
    pointer-events: none;
    opacity: 0.6;
}

@keyframes noiseAnimation {
    0% {
        transform: translate(0)
    }
    10% {
        transform: translate(-5%, -5%)
    }
    20% {
        transform: translate(-10%, 5%)
    }
    30% {
        transform: translate(5%, -10%)
    }
    40% {
        transform: translate(-5%, 15%)
    }
    50% {
        transform: translate(-10%, 5%)
    }
    60% {
        transform: translate(15%)
    }
    70% {
        transform: translateY(10%)
    }
    80% {
        transform: translate(-15%)
    }
    90% {
        transform: translate(10%, 5%)
    }
    to {
        transform: translate(5%)
    }
}

@keyframes scroll-text {
    0% {
        transform: translateX(0%);
    }
    90% {
        transform: translateX(-100%);
    }
    95% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(0%);
    }
}

/* ---------------- LINKS AND MOUSE ANMATION ---------------- */

#cursor {
    position: fixed;
    background-color: var(--secondColor);
    width: 2em;
    height: 2em;
    border-radius: 100%;
    mix-blend-mode: difference;
    pointer-events: none;
    transition: width .2s ease-in-out, height .2s ease-in-out;
    transform: translate(-50%, -50%);
}

#cursor.active {
    width: 6em;
    height: 6em;
}

.link-container {
    position: relative;
}

span.hover-link::after,
a:not(.data).hover-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: var(--secondColor);
    opacity: 0;
    transition: opacity .2s, transform .2s;
}

span.hover-link:hover::after,
span.hover-link:focus::after,
a:not(.data).hover-link:hover::after,
a:not(.data).hover-link:focus::after {
    opacity: 1;
    transform: translate3d(0, 0.2em, 0);
}

span.hover-link::after,
a:not(.data).hover-link::after {
    opacity: 1;
    transform: scale(0);
    transform-origin: center;
}

span.hover-link:hover::after,
span.hover-link:focus::after,
a:not(.data).hover-link:hover::after,
a:not(.data).hover-link:focus::after {
  transform: scale(1);
}