/*
filter-mod (3D Modelling)
filter-gd (Graphic Design)
filter-cd (Creative Coding)
*/

#filter-tags {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-bottom: 2em;
}

#filter .grid-item {
    display: none;
}

#filter.filter-all .grid-item {
    display: block !important;
}

#filter.filter-mod .grid-item.mod,
#filter.filter-pg .grid-item.pg,
#filter.filter-gd .grid-item.gd,
#filter.filter-cd .grid-item.cd,
#filter.filter-wd .grid-item.wd,
#filter.filter-game .grid-item.game,
#filter.filter-avr .grid-item.avr {
    display: block;
}

input[type='checkbox'] {
    display: none;
}

input[type='checkbox']+label {
    border: 1px solid var(--scolor);
    border-radius: 20px;
    padding: 10px;
    font-weight: 400;
    font-family: 'Space Grotesk', sans-serif;
    display: block;
}

input[type='checkbox']:checked+label,
input[type='checkbox']:checked+label span {
    font-weight: 600;
    color: var(--fcolor);
    background-color: var(--scolor);
}

#filter-tags div {
    height: auto;
    margin: 0 .75rem .75rem 0;
}