/* -------- BOOT -------- */
:root {
    --fcolor: #111;
    --scolor: #fff8df;

    --content-w: 85vw;
}

* {
    margin: 0;
    padding: 0;

    font-family: 'Inter', sans-serif;
    color: var(--scolor);

    cursor: none;
    text-decoration: none;
}

[data-scroll-container],
[data-scroll-section] {
  perspective: 1px;
}

/* -------- MAIN FORMATS -------- */
h1,
h2,
h3,
h4 {
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    word-break: break-word;
}

h1 {
    font-size: 6em;
    margin-bottom: 6rem;
}

h2 {
    font-size: 5em;
    margin-bottom: 4rem;
}

h3 {
    font-size: 3em;
    margin-bottom: 1rem;
}

h4 {
    font-weight: 400;
    font-size: 1.8em;
    margin-bottom: 1rem;
}

.font-display {
    font-size: 4.5em;
    line-height: 1.2em;
    margin-top: 2rem;
    display: block;
}

.format-hd {
    height: 0;
    padding-bottom: 56.25%;
    position: relative;
}

.format-website {
    height: 0;
    padding-bottom: 56.25%;
    position: relative;
}

.format-3x2 {
    height: 0;
    padding-bottom: 66.67%;
    position: relative;
}

.format-hd iframe,
.format-3x2 iframe,
.format-website iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: none;
}

.c-mobile {
    display: none;
}

.bold {
    font-weight: 700;
}

@media screen and (max-width: 993px) {
    h1 {
        font-size: 2.5em;
    }

    h2 {
        font-size: 2.5em;
    }

    h3 {
        font-size: 2em;
    }

    .font-display {
        font-size: 3em;
    }

    .c-mobile {
        display: initial;
    }

    .c-desktop {
        display: none;
    }

    .format-website {
        padding-bottom: 125%;
    }
}

/* -------- HEADER -------- */
header {
    width: var(--content-w);

    padding: 20px 0;
    margin: 2em auto 5em auto;
}

#menu {
    display: flex;
    justify-content: space-between;

    font-family: 'Space Grotesk', sans-serif;
    text-transform: uppercase;
    font-size: 2em;
    font-weight: 400;
}

@media screen and (max-width: 993px) {
    #menu {
        font-size: 1.5em;
    }

    header {
        margin: 2em auto 3em auto;
    }
}

/* -------- BODY -------- */
body {
    background-color: var(--fcolor);
    overflow: hidden;
}

main {
    position: relative;

    width: var(--content-w);
    margin: 0 auto 8em auto;
}

@media screen and (max-width: 993px) {
    main {
    margin: 0 auto 3em auto;
}
}

/* -------- ABOUT -------- */
svg .f-white {
    fill: var(--scolor);
}

.open_icon {
    display: inline;
}

.open_icon svg {
    width: 1em;
}

#photo {
    width: 100%;
    height: 80vh;
    object-fit: cover;
    object-position: top;
}

#intro {
    position: relative;
}

#intro-name {
    margin-bottom: 8em;
}

.about {
    font-family: 'Inter', sans-serif;
    font-size: 2em;
    font-weight: 400;
    padding-top: 20vw;
    text-transform: uppercase;
    width: 80%;
    hyphens: auto;
    margin-left: auto;
}

@media screen and (max-width: 1300px) {

    #intro .grid-item--width1,
    #intro .grid-item--width2,
    #intro .grid-item--width3,
    #intro .grid-item--width4,
    #intro .grid-item--width5 #intro .grid-item {
        width: calc(var(--grid-sizer) * 3 + var(--grid-gutter) * 2);
    }

    .about {
        margin: 0;
        width: 100%;
        font-size: 1.5em;
    }
}

@media screen and (max-width: 993px) {
    #intro-name {
        margin-bottom: calc(var(--content-w) / 2 + 4em);
    }

    .about {
        font-size: 1.5em;
        padding-top: 1em;
        width: 100%;
    }
}

/* GLOBE START */
.globe-container {
    width: 80%;
    position: absolute;
    top: 0;
    right: 0;
}

#globe {
    width: 59.5vw;
    height: calc(59.5vw / 2);
    z-index: -1;
    padding-top: 2em;
    padding-bottom: 10em;
}

#globe canvas {
    position: absolute;
    right: 0;
}

#globe .text {
    position: absolute;
    bottom: 20%;
    right: 0;
    font-family: 'Space Grotesk', sans-serif;
    text-transform: uppercase;
    font-size: 1.8em;
    font-weight: 400;
}

@media screen and (max-width: 1300px) {
    .globe-container {
        width: 65%;
    }

    #globe {
        width: 100%;
    }
}

@media screen and (max-width: 993px) {
    #globe {
        width: var(--content-w);
        height: calc(var(--content-w) / 2);
        z-index: -1;
        padding-top: 35vw;
        padding-bottom: 4em;
    }

    .globe-container {
        width: 100%;
    }

    #globe .text {
        bottom: 0;
    }
}

/* GLOBE END */

/* --- PROJECTS START --- */
.projects .data {
    position: relative;
}

.projects .grid-item {
    box-shadow: 0px 0px 28px black;
}

.projects .grid-item.clean {
    box-shadow: none;
}

.projects .grid-item.clean .link-container {
    display: inline;
}

.fit-container {
    width: fit-content;
}

.social {
    margin: 0 auto;
    text-align: center;
}

.social .social-media {
    display: flex;
    justify-content: space-around;
    margin-top: 8em;
    word-break: normal;
    flex-wrap: wrap;
}

.social .social-media div {
    margin-bottom: 2em;
}

.mail {
    position: relative;
}

@media screen and (max-width: 993px) {
    .social .social-media {
        margin-top: 4em;
    }

    .fit-container {
        margin: 0 auto;
    }
}

/* PROJECT TITLE START */
.projects .title {
    padding: 0 0 1rem 1rem;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    text-shadow: -2px 1px 4px var(--fcolor);
}

.projects .title .name {
    font-family: 'Inter', sans-serif;
    font-size: 1.5em;
    font-weight: 500;
    margin-bottom: .5em;
    position: relative;
    text-transform: uppercase;
}

/* PROJECT TITLE END */

/* PROJECT IMAGE START */
.projects .data .image {
    position: relative;
}

.projects .data .image .img {
    width: 100%;
    min-height: 35vh;
    max-height: 70vh;
    object-fit: cover;

    filter: grayscale(0) brightness(100%);
    transition: filter .5s;
}

.projects .data:hover .image .img {
    filter: grayscale(1) brightness(50%);
}

/* PROJECT IMAGE END */

/* PROJECT TAGS START */
.projects .data .tags {
    display: flex;
    flex-direction: column;
    position: absolute;

    right: 1rem;
    top: 1rem;
    text-align: right;
}

.tags .tag {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0 0 .5rem 0;
    font-size: 1em;
}

.projects .data .tags .tag .name {
    filter: opacity(0);

    transition: filter .5s;
}

.projects .data:hover .tags .tag .name {
    filter: opacity(1);
}

.tags .circle {
    width: 1em;
    height: 1em;
    border-radius: 100%;
    margin-left: .5em;
    box-shadow: 1px 1px 5px #2e222f;
}

.tags {
    display: flex;
    text-align: right;
    flex-wrap: wrap;
}

/* PROJECT TAGS END */

.projects .p-empty {
    height: 25vh;
    box-shadow: none;
}

@media screen and (max-width: 993px) {
    .projects .p-empty {
        display: none;
    }
}

/* PROJECTS END */

/* -------- PROJECT PAGE -------- */
/* BANNER START */
.banner {
    width: 100%;
    height: 60vh;
    object-fit: contain;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: -1;
}

.banner-content {
    position: relative;
    height: fit-content;
    height: 100%;
}

.banner img,
.banner video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(0) brightness(50%);
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    position: absolute;
}

.banner .title {
    width: 85%;

    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 0);

    margin-bottom: 2em;
}

.banner .title h1 {
    font-family: 'Space Grotesk', sans-serif;
    margin: 0;
}

.banner .title h2 {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 4em;
    margin: 0;
}

.banner .tags .circle {
    margin: 0 .5rem 0 0;
}

.banner .tags .tag {
    margin: 0 1rem 0 0;
}

.banner+main {
    padding-top: calc(60vh - 40px - 9em + 6em);
}

@media screen and (max-width: 993px) {
    .tag {
        font-size: 1em;
    }

    .banner+main {
        padding-top: calc(60vh - 40px - 8.5em + 6em);
    }
}

/* BANNER END */
/* PROJECT CONTENT START */
.project-info {
    display: flex;
    justify-content: space-between;
}

.project-info span {
    width: calc(100% / 3 - 5%);
}

.project-text {
    font-size: 1.5em;
}

@media screen and (max-width: 993px) {
    .project-text {
        font-size: 1em;
    }
}

/* PROJECT CONTENT END */
/* -------- FOOTER -------- */
footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 85%;
    margin: 0 auto 4em auto;

    font-size: 1.25em;
    font-family: 'Space Grotesk', sans-serif;
    text-transform: uppercase;
}

footer .social {
    display: inline-block;
    columns: 2;
}

footer .social div {
    display: block;
    padding: .25rem 0 .25rem .75rem;
    text-align: right;
}

@media screen and (max-width: 993px) {
    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    footer .social div {
        padding: 0.25em 0;
        text-align: center;
    }

    footer .social {
        margin-top: 2rem;
    }
}

/* -------- TAGS COLORS -------- */
.tags .circle.red {
    background-color: #e83b3b;
}

.tags .circle.blue {
    background-color: #4d65b4;
}

.tags .circle.yellow {
    background-color: #f9c22b;
}

/* ---------------------- */
.tags .tag.mod .name:after {
    content: "3D Modelling";
}

.tags .tag.mod .circle {
    background-color: #e83b3b;
}

/* ---------------------- */
.tags .tag.pg .name:after {
    content: "Programming";
}

.tags .tag.pg .circle {
    background-color: #4d65b4;
}

/* ---------------------- */
.tags .tag.gd .name:after {
    content: "Graphic Design";
}

.tags .tag.gd .circle {
    background-color: #f04f78;
}

/* ---------------------- */
.tags .tag.cd .name:after {
    content: "Creative Codding";
}

.tags .tag.cd .circle {
    background-color: #f9c22b;
}

/* ---------------------- */
.tags .tag.wd .name:after {
    content: "Web Design";
}

.tags .tag.wd .circle {
    background-color: #30e1b9;
}

/* ---------------------- */
.tags .tag.game .name:after {
    content: "Game Design";
}

.tags .tag.game .circle {
    background-color: #a884f3;
}

/* ---------------------- */
.tags .tag.avr .name:after {
    content: "AR/VR";
}

.tags .tag.avr .circle {
    background-color: #239063;
}

/* -------- CURSOR -------- */
@media (pointer:none),
(pointer:coarse) {
    * {
        cursor: auto;
    }

    #cursor {
        display: none;
    }
}